<div class="card">
    <a (click)="addCard()">
    <div class="card-content">
      <div class="content has-text-centered">
          <span class="icon is-large">
              <i class="fa fa-3x fa-plus"></i>
            </span>
      </div>
    </div>
  </a>
</div>
<!-- <div class="modal" [class.is-active]="addMode">
    <div class="modal-background" (click)="addMode=false"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <div class="modal-card-title">
        <div class="control title">
          <input class="input" type="text" placeholder="Title" name="title" ngModel>
        </div>
      </div>
        <button (click)="addMode=false" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
          <textarea class="textarea" placeholder="e.g. Hello world" name="description" ngModel></textarea>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="addCard()" >Add card</button>
        <button class="button" (click)="addMode=false">Cancel</button>
      </footer>
    </div>
</div> -->
