<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="has-text-centered box registerbox">
         <form [formGroup]="registerForm" (ngSubmit)="registerUser()">

            <div class="field">
                <div class="control has-icons-left has-icons-right">
                   <input [class.is-danger]="registerForm.get('email').invalid && registerForm.get('email').touched || this.accountService.emailExists"
                          [class.is-success]="registerForm.get('email').valid && registerForm.get('email').touched"
                          class="input" type="email" name="email" formControlName="email" placeholder="Email">
                   <span class="icon is-small is-left">
                   <i class="fa fa-envelope"></i>
                   </span>
                   <span *ngIf="registerForm.get('email').valid && registerForm.get('email').touched && !this.accountService.emailExists" class="icon is-small is-right">
                      <i class="fa fa-check"></i>
                    </span>
                   <span *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched || this.accountService.emailExists" class="icon is-small is-right">
                    <i class="fa fa-exclamation-triangle"></i>
                   </span>
                </div>
                <p *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched" class="help is-danger">This email is invalid</p>
                <p *ngIf="this.accountService.emailExists" class="help is-danger">This email does already exists</p>
             </div>

           <div class="field">
             <div class="control has-icons-left has-icons-right">
               <input [class.is-danger]="registerForm.get('password').invalid && registerForm.get('password').touched"
               class="input " type="password" placeholder="Password" name="password" formControlName="password">
               <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
                <span *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched" class="icon is-small is-right">
                    <i class="fa fa-exclamation-triangle"></i>
                   </span>
              </div>
              <p *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched" class="help is-danger">Password has to be at least 5 characters</p>
           </div>
          
           <button type="submit" class="button is-block is-info" [disabled]="!registerForm.valid || this.accountService.emailExists">Register</button>
         </form>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>


