<section >
    <div class="columns is-multiline">
        <div class="column is-one-third" *ngFor="let card of cards;">
            <app-card [card]=card (updated)="this.update();"></app-card>
            
        </div>
        <div class="column is-one-third">
            <app-add-card (updated)="this.update();" ></app-add-card>
        </div>
    </div> 
</section>