<div class="profile-picture">
  <img class="profile-img" width=15em height=15em src="{{url}}" onerror="this.src='/assets/placeholder.png'">
  <label class="label" *ngIf="editmode" for="uploader-input">
    <div class="infotext"><span>Click to upload</span></div>
  </label>
  <input *ngIf="editmode" type="file" ng2FileSelect [uploader]="uploader" id="uploader-input" style="display:none"/>
</div>