
.profile-picture {
    position: relative;
    z-index: 2;
    width: 15em;
    height:15em;
    background-image:url(/assets/placeholder.png);
    background-size: contain;
    border-radius: 50%;
  }
  
  .profile-picture img{
    width: 15em;
    height: 15em;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
  }
  
  .profile-picture label {
    width: 15em;
    height: 15em;
    position: relative;
    z-index: 3;
  }
  
  .profile-picture .infotext {
    background: rgba(0, 0, 0, 0.5);
    height: 10em;
    vertical-align: middle;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding-top: 5em;
    font-size: 150%;
    overflow : hidden;
    cursor: pointer;
  }