<form [formGroup]="accountForm">
  <div class="field">
     <label class="label">Profile Picture</label>
     <app-profilepic (urlChange)="urlChange()"></app-profilepic>
  </div>
  <a (click)="changeUsernameModal=true;">Change your username</a><br/>
  <a>Change your password</a>

  <div class="field is-grouped fullname">
     <div class="control is-expanded">
        <label class="label">First Name</label>
        <div class="control">
           <input class="input" type="text" placeholder="e.g Jon" formControlName="first_name">
        </div>
     </div>
     <div class="control is-expanded">
        <label class="label">Last name</label>
        <div class="control">
           <input class="input" type="text" placeholder="e.g Snow" formControlName="last_name">
        </div>
     </div>
  </div>
  <div [class.is-active]="changeUsernameModal" class="modal">
     <div class="modal-background" (click)="changeUsernameModal=false;"></div>
     <div class="modal-card">
        <header class="modal-card-head">
           <p class="modal-card-title">Change your username</p>
           <button class="delete" aria-label="close" (click)="changeUsernameModal=false;"></button>
        </header>
        <section class="modal-card-body">
            <p>Your current username: <b>{{this.account.username}}</b> will be changed into:</p>
           <div class="field">
              <div class="control has-icons-left has-icons-right is-expanded">
                 <input [class.is-danger]="accountForm.get('username').invalid" class="input" formControlName="username">
                 <span class="icon is-small is-left">
                 <i class="fa fa-user"></i>
                 </span>
                 <span *ngIf="accountForm.get('username').invalid" class="icon is-small is-right">
                 <i class="fa fa-exclamation-triangle"></i>
                 </span>
              </div>
              <p *ngIf="accountForm.get('username').invalid" class="help is-danger">This username is invalid</p>
           </div>
        </section>
     </div>
     <button class="modal-close is-large" aria-label="close"></button>
  </div>
</form>
<div *ngIf="saved" class="container has-text-centered saved">
   <div class="tag is-medium is-success is-rounded">
      <span class="icon is-left is-medium">
      <i class="fa fa fa-check"></i>
      </span>
      <p>Saved changes</p>
   </div>
</div>
