<div class="card" >
    <div class="card-content">
        <p class="title">
          {{card.title}}
        </p>
          <p class="subtitle">
              Chuck Norris
        </p>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">New fact</a>
      <a (click)="deleteCard()" class="card-footer-item">Delete</a>
    </footer>
  </div>